.idea
pybo.db
*.pyc
__pycache__
logs
.env
driver
news_letter.txt
weather_data.txt
pybo/static/statistic_data/weather_data_Busan.txt
pybo/static/statistic_data/weather_data_Ulsan.txt
pybo/static/statistic_data/weather_data_Incheon.txt
pybo/static/statistic_data/weather_data_Daejeon.txt
pybo/static/statistic_data/weather_data_Daegu.txt
pybo/static/statistic_data/weather_data_Gwangju.txt
pybo/static/statistic_data/weather_data_Seoul.txt
