{% extends "base.html" %}
{% block content %}
<div class="col-md-10">
    <div class="container my-3">
        <form method="post" class="post-form">
            {{ form.csrf_token }}
            {% include "form_errors.html" %}
            <div class="form-group">
                <h4>본인의 이메일을 입력하세요</h4>
                <input type="text" class="form-control" name="email" id="email" value="{{ form.email.data or '' }}">
            </div>

            <button type="submit" class="btn btn-primary">비밀번호 찾기</button>
        </form>
    </div>
</div>
{% endblock %}
