{% extends 'base.html' %}
{% block content %}
<head>
    <style>
        .search_section {
            margin-top: 10px;
            border-radius: 5px;
            border: 1px solid #fff;
            height: 500px;
        }

        .chart_section {
            margin-top: 10px;
            height: 600px;
            overflow: auto;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
    <div class="col-3 offset-1 search_section input-group">
        <input type="text" class="form-control kw" value="{{ kw or '' }}" style="margin-top: 10px;">
        <div class="input-group-append" style="margin-top: 10px;">
            <button class="btn btn-outline-light" type="button" id="btn_search" style="background-color: #8a8988; height: 38px;">찾기</button>
        </div>
    </div>

    <div class="col-6 chart_section">
        <canvas id="weather-chart" width="300" height="230"></canvas>
    </div>

    <div class="chart_data">
        <h4 id="seoulTimeList" style="display: none">{{ seoul_time_list.replace("'",'') }}</h4>
        <h4 id="seoulTemperatureList" style="display: none">{{ seoul_temperature_list.replace("'",'') }}</h4>
        <h4 id="seoulHumidityList" style="display: none">{{ seoul_humidity_list.replace("'",'') }}</h4>
        <h4 id="seoulDescriptionList" style="display: none">{{ seoul_description_list }}</h4>

        <h4 id="busanTimeList" style="display: none">{{ busan_time_list.replace("'",'') }}</h4>
        <h4 id="busanTemperatureList" style="display: none">{{ busan_temperature_list.replace("'",'') }}</h4>
        <h4 id="busanHumidityList" style="display: none">{{ busan_humidity_list.replace("'",'') }}</h4>
        <h4 id="busanDescriptionList" style="display: none">{{ busan_description_list }}</h4>

        <h4 id="daeguTimeList" style="display: none">{{ daegu_time_list.replace("'",'') }}</h4>
        <h4 id="daeguTemperatureList" style="display: none">{{ daegu_temperature_list.replace("'",'') }}</h4>
        <h4 id="daeguHumidityList" style="display: none">{{ daegu_humidity_list.replace("'",'') }}</h4>
        <h4 id="daeguDescriptionList" style="display: none">{{ daegu_description_list }}</h4>

        <h4 id="daejeonTimeList" style="display: none">{{ daejeon_time_list.replace("'",'') }}</h4>
        <h4 id="daejeonTemperatureList" style="display: none">{{ daejeon_temperature_list.replace("'",'') }}</h4>
        <h4 id="daejeonHumidityList" style="display: none">{{ daejeon_humidity_list.replace("'",'') }}</h4>
        <h4 id="daejeonDescriptionList" style="display: none">{{ daejeon_description_list }}</h4>

        <h4 id="ulsanTimeList" style="display: none">{{ ulsan_time_list.replace("'",'') }}</h4>
        <h4 id="ulsanTemperatureList" style="display: none">{{ ulsan_temperature_list.replace("'",'') }}</h4>
        <h4 id="ulsanHumidityList" style="display: none">{{ ulsan_humidity_list.replace("'",'') }}</h4>
        <h4 id="ulsanDescriptionList" style="display: none">{{ ulsan_description_list }}</h4>

        <h4 id="incheonTimeList" style="display: none">{{ incheon_time_list.replace("'",'') }}</h4>
        <h4 id="incheonTemperatureList" style="display: none">{{ incheon_temperature_list.replace("'",'') }}</h4>
        <h4 id="incheonHumidityList" style="display: none">{{ incheon_humidity_list.replace("'",'') }}</h4>
        <h4 id="incheonDescriptionList" style="display: none">{{ incheon_description_list }}</h4>
    </div>


<script>
    var seoulTimeList = document.getElementById('seoulTimeList').textContent.split(',')
    var seoulTemperatureList = document.getElementById('seoulTemperatureList').textContent.split(',').map(Number)
    var seoulHumidityList = document.getElementById('seoulHumidityList').textContent.split(',').map(Number)

    var busanTimeList = document.getElementById('busanTimeList').textContent.split(',')
    var busanTemperatureList = document.getElementById('busanTemperatureList').textContent.split(',').map(Number)
    var busanHumidityList = document.getElementById('busanHumidityList').textContent.split(',').map(Number)

    var daeguTimeList = document.getElementById('daeguTimeList').textContent.split(',')
    var daeguTemperatureList = document.getElementById('daeguTemperatureList').textContent.split(',').map(Number)
    var daeguHumidityList = document.getElementById('daeguHumidityList').textContent.split(',').map(Number)

    var daejeonTimeList = document.getElementById('daejeonTimeList').textContent.split(',')
    var daejeonTemperatureList = document.getElementById('daejeonTemperatureList').textContent.split(',').map(Number)
    var daejeonHumidityList = document.getElementById('daejeonHumidityList').textContent.split(',').map(Number)

    var ulsanTimeList = document.getElementById('ulsanTimeList').textContent.split(',')
    var ulsanTemperatureList = document.getElementById('ulsanTemperatureList').textContent.split(',').map(Number)
    var ulsanHumidityList = document.getElementById('ulsanHumidityList').textContent.split(',').map(Number)

    var incheonTimeList = document.getElementById('incheonTimeList').textContent.split(',')
    var incheonTemperatureList = document.getElementById('incheonTemperatureList').textContent.split(',').map(Number)
    var incheonHumidityList = document.getElementById('incheonHumidityList').textContent.split(',').map(Number)
    new Chart(document.getElementById("weather-chart"), {
        type: "line",
        data: {
            labels: seoulTimeList,
            datasets: [{
                data: seoulTemperatureList,
                label: "Seoul",
                borderColor: "#008080",
                fill: false,
                backgroundColor: "#008080",
                borderWidth: 3,
            },
            {
                data: busanTemperatureList,
                label: "Busan",
                borderColor: "#800020",
                fill: false,
                backgroundColor: "#800020",
                borderWidth: 3,
            },
            {
                data: daejeonTemperatureList,
                label: "Daejeon",
                borderColor: "#008000",
                fill: false,
                backgroundColor: "#008000",
                borderWidth: 3,
            },
            {
                data: daeguTemperatureList,
                label: "Daegu",
                borderColor: "#FF00FF",
                fill: false,
                backgroundColor: "#FF00FF",
                borderWidth: 3,
            },
            {
                data: ulsanTemperatureList,
                label: "Ulsan",
                borderColor: "#FFFF00",
                fill: false,
                backgroundColor: "#FFFF00",
                borderWidth: 3,
            },
            {
                data: incheonTemperatureList,
                label: "Incheon",
                borderColor: "#800080",
                fill: false,
                backgroundColor: "#800080",
                borderWidth: 3,
            },
            ]
        },
        options: {
            title: {
                display: true,
                text: "Weather Information"
            },
            scales: {
                yAxes: [{
                    ticks: {
                        stepSize: 10
                    }
                }]
            }
        }
    });


</script>
</body>
{% endblock %}