{% extends 'base.html' %}
{% block content %}
<div class="col-md-10" id="full-content">
    <!-- 질문 목록 컨테이너 -->
    <div class="container-fluid">
        <div class="table-container m-3">
            <div class="row justify-content-between my-2">
                <span style="font-size: 40px; margin-left: 20px; color: white; font-family: bada_font;">{{ category }}</span>
                <div class="container-fluid tag_menu py-2">
                    <span style="font-family: bada_font; font-size: 20px;">✅ 아래의 태그를 선택하면 해당 태그와 관련된 글을 볼 수 있어요.<br></span>
                    {% for tag in tag_list %}
                    <a class="btn" href="{{ url_for('question.tagged_list', tag=tag if tag else 'etc',
                    category=category if category else 'default_category') }}" style="font-size: 18px; margin: 5px; font-family: bada_font; background-color: #ed9542; color: #000;">{{ tag or 'etc' }}</a>
                    {% endfor %}
                </div>
                <div class="col-2">
                    <select class="form-control so">
                        <option value="recent" {% if so=='recent' %}selected{% endif %}>최신순</option>
                        <option value="recommend" {% if so=='recommend' %}selected{% endif %}>추천순</option>
                        <option value="popular" {% if so=='popular' %}selected{% endif %}>인기순</option>
                    </select>
                </div>
                <div class="col-4 input-group">
                    <input type="text" class="form-control kw" value="{{ kw or '' }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-light" type="button" id="btn_search" style="background-color: #8a8988">찾기</button>
                    </div>
                </div>
            </div>
            <table class="table" style="font-family: bada_font; font-size: 18px;">
                <thead>
                <tr class="text-center thead-dark">
                    <th>번호</th>
                    <th>추천</th>
                    <th style="width:50%;">제목 (답변 수)</th>
                    <th>글쓴이</th>
                    <th>작성일시</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                {% if question_list %}
                    {% for question in question_list.items %}
                        <tr class="text-center">
                            <td>{{ question_list.total - ((question_list.page-1) * question_list.per_page) - loop.index0 }}</td>
                            <td>
                                {% if question.voter|length > 0 %}
                                <span class="badge badge-warning px-2 py-1">{{ question.voter|length }}</span>
                                {% endif %}
                            </td>
                            <td class="text-left">
                                <a href="{{ url_for('question.detail', question_id=question.id) }}" style="color: black;">{{ question.subject }}</a>
                                {% if question.answer_set|length > 0 %}
                                <span class="text-danger small ml-2">{{ question.answer_set|length }}</span>
                                {% endif %}
                            </td>
                            <td><a href="{{ url_for('auth.user_info', user_id=question.user.id) }}" style="color: black;">{{ question.user.username }}</a></td>
                            <td>{{ question.create_date|datetime }}</td>
                            <td>{{ question.views }} </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">질문이 없습니다.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center">
                <!-- 이전페이지 -->
                {% if question_list.has_prev %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ question_list.prev_num }}" href="#" style="color: #ebac2a;">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
                {% endif %}

                {% for page_num in question_list.iter_pages() %}
                    {% if page_num %}
                        {% if page_num != question_list.page %}
                        <li class="page-item">
                            <a class="page-link" data-page="{{ page_num }}" href="#" style="color: black;">{{ page_num }}</a>
                        </li>
                        {% else %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#" style="background-color: #ebac2a; border: 1px solid #ed9542;">{{ page_num }}</a>
                        </li>
                        {% endif %}
                   {% else %}
                        <li class="disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                   {% endif %}
                {% endfor %}

                <!-- 다음페이지 -->
                {% if question_list.has_next %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ question_list.next_num }}" href="#" style="color: #ebac2a;">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
                {% endif %}
            </ul>
            <!-- 페이징처리 끝 -->
            <a href="{{ url_for('question.create') }}" class="btn btn-light" style="font-family: bada_font; font-size: 18px;">✏️ 질문 등록하기</a>
        </div>
    </div>
</div>

<form id="searchForm" method="get" action="{{ url_for(view_name, category=category) }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>


{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });
    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
    $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
});
</script>
<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .sidebar {
        width: 200px;
        height: 400px;
        background-color: #f0f0f0;
        overflow: auto;
    }

    .category ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .category li {
        margin-bottom: 10px;
    }
</style>
{% endblock %}