{% extends 'base.html' %}
{% block content %}
<head>
    <style>
        .checkbox {
            margin: 10px;
        }

        .btn-outline-dark {
            color: black;
            height: 30px;
            text-align: center;
            width: 40px;
        }

        .font-size-dropdown {
            border: solid 1px #000;
            width: 40px;
        }
    </style>
</head>
<div class="col-md-10" id="full-content">
    <div class="table-container m-5">
        <h5 class="my-3 border-bottom pb-2">질문등록</h5>
        <form method="post" class="post-form my-3">
            {{ form.csrf_token }}
            <!-- 오류표시 start -->
            {% include "form_errors.html" %}
            <!-- 오류표시 End -->
            <div class="form-group">
                <label for="subject">제목</label>
                <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.data or '' }}">
            </div>
            <div class="form-group">
                <label for="category">카테고리</label>
                <select class="form-control" name="category" id="category">
                    <option value="">Select a category</option>
                    <option value="Data Science">Data Science</option>
                    <option value="Development">Development</option>
                    <option value="Computer Science">Computer Science</option>
                    <option value="Artificial Intelligence">Artificial Intelligence</option>
                    <option value="Relaxation">Relaxation</option>
                    <option value="Communication">Communication</option>
                    <option value="Statistic">Statistic</option>
                    # 드롭다운 메뉴에 새로운 카테고리 추가하기
                    {% for category in category_list %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>태그</label>
                <select class="form-control" name="tag" id="tag">
                    <option value="">Select a Tag</option>
                    {% for tag in tag_list %}
                    <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                </select>
                <input type="text" placeholder="Create a Tag" id="newTagInput">
                <button type="button" id="addTagButton">Create</button>
            </div>
            <div class="form-group">
                <label for="question_content" style="margin-bottom: 40px;">내용</label>

                <div class="tool-buttons" style="border: 1px solid #fff; height: 40px; width: 100%; display: flex; flex-direction: row; background-color: #9c9c9c;">
                    <button type="button" class="btn btn-outline-dark" id="bold-btn" style="font-weight: bold; left: 2%;">B</button>
                    <button type="button" class="btn btn-outline-dark" id="italic-btn" style="font-style: italic; left: 6%;">i</button>
                    <button type="button" class="btn btn-outline-dark" id="underline-btn" style="text-decoration: underline; left: 10%;">U</button>

                    <select class="btn-outline-dark" name="font-family" id="font-family-dropdown" onchange="selectFontFamily()">
                        <option value="sans-serif">sans-serif</option>
                        <option style="font-family: bada_font;" value="bada_font">Bada</option>
                        <option style="font-family: yeongdeok_font; width: 40px;" value="yeongdeok_font">Snow Crab</option>
                        <option style="font-family: milkyway_font; width: 40px;" value="milkyway_font">Milkyway</option>
                    </select>

                    <select class="btn-outline-dark" name="font-size" id="font-size-dropdown" style="left: 20%;" onchange="selectFontSize()">
                        {% for i in range(20, 41, 2) %}
                            <option value="{{ i }}px">{{ i }}</option>
                        {% endfor %}
                    </select>

                    <input type="color" class="btn btn-outline-dark" name="color" id="color-btn" style="left: 24%;" value="{{ color }}" onchange="selectFontColor()"/>
                </div>
                <textarea class="form-control" name="content" id="question_content" rows="15" style="font-family: bada_font; font-size: 16px; height: 400px; overflow: scroll;">{{ form.content.data or '' }}</textarea>
            </div>
            <a href="#" class="btn btn-secondary">코드 입력</a>
            <button id="submitBtn" type="submit" class="btn btn-primary">저장하기</button>
        </form>


    </div>
</div>
<script>
    var questionText = document.getElementById('question_content');
    var result = {};

    // 폰트 두께 설정하기
    var boldBtn = document.getElementById('bold-btn');
    boldBtn.addEventListener('click', function() {
        if (questionText.style.fontWeight === "normal") {
            questionText.style.fontWeight = "bold";
        } else {
            questionText.style.fontWeight = "normal";
        }
    })

    // 폰트 기울기 설정하기
    var italicBtn = document.getElementById('italic-btn');
    italicBtn.addEventListener('click', function() {
        if (questionText.style.fontStyle === "normal") {
            questionText.style.fontStyle = "italic";
        } else {
            questionText.style.fontStyle = "normal";
        }
    });

    // 폰트 밑줄 설정하기
    var underlineBtn = document.getElementById('underline-btn');
    underlineBtn.addEventListener('click', function() {
        if (questionText.style.textDecoration === "none") {
            questionText.style.textDecoration = "underline";
        } else {
            questionText.style.textDecoration = "none";
        }
    });

    // 폰트 설정하기
    var fontFamilyBtn = document.getElementById('font-family-btn');
    var fontFamilyDropdown = document.getElementById('font-family-dropdown');
    fontFamilyBtn.addEventListener('click', function() {
        if (fontFamilyDropdown.style.display === "none") {
            fontFamilyDropdown.style.display = "block";
        } else {
            fontFamilyDropdown.style.display = "none";
        }
    });

    // 폰트 크기 설정하기
    function selectFontSize() {
        const fontSize = document.getElementById('font-size-dropdown');
        result.fontSize = fontSize.options[fontSize.selectedIndex].value;
        questionText.style.fontSize = result.fontSize;
    };

    // 폰트 설정하기
    function selectFontFamily() {
        const fontFamily = document.getElementById('font-family-dropdown');
        result.fontFamily = fontFamily.options[fontFamily.selectedIndex].value;
        questionText.style.fontFamily = result.fontFamily;
    }

    // 폰트 색 정하기
    function selectFontColor() {
        const fontColor = document.getElementById('color-btn');
        result.fontColor = fontColor.value;
        questionText.style.color = result.fontColor;
    }

    document.addEventListener('DOMContentLoaded', function() {
        var tagSelect = document.getElementById('tag');
        var newTagInput = document.getElementById('newTagInput');
        var addTagButton = document.getElementById('addTagButton');

        addTagButton.addEventListener("click", function() {
            var newTagValue = newTagInput.value.trim();
            if (newTagValue !== "") {
                // 중복 체크
                var isDuplicate = Array.from(tagSelect.options).some(function(option) {
                    return option.value.toLowerCase() === newTagValue.toLowerCase();
                });
                if (!isDuplicate) {
                    var newOption = document.createElement("option");
                    newOption.value = newTagValue;
                    newOption.textContent = newTagValue;
                    tagSelect.appendChild(newOption);
                    newTagInput.value = "";
                } else {
                    alert("중복된 태그입니다.");
                }
            }
        });
    });
</script>


{% endblock %}




















