{% extends 'base.html' %}
{% block content %}
<head>
    <style>
        .checkbox {
            margin: 10px;
        }
    </style>
</head>
<div class="col-md-10" id="full-content">
    <div class="table-container m-5">
        <h5 class="my-3 border-bottom pb-2">질문등록</h5>
        <form method="post" class="post-form my-3">
            {{ form.csrf_token }}
            <!-- 오류표시 start -->
            {% include "form_errors.html" %}
            <!-- 오류표시 End -->
            <div class="form-group">
                <label for="subject">제목</label>
                <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.data or '' }}">
            </div>
            <div class="form-group">
                <label for="category">카테고리</label>
                <select class="form-control" name="category" id="category">
                    <option value="">Select a category</option>
                    <option value="Data Science">Data Science</option>
                    <option value="Development">Development</option>
                    <option value="Computer Science">Computer Science</option>
                    <option value="Artificial Intelligence">Artificial Intelligence</option>
                    <option value="Relaxation">Relaxation</option>
                    <option value="Communication">Communication</option>
                    <option value="Statistic">Statistic</option>
                    # 드롭다운 메뉴에 새로운 카테고리 추가하기
                    {% for category in category_list %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>태그</label>
                <select class="form-control" name="tag" id="tag">
                    <option value="">Select a Tag</option>
                    {% for tag in tag_list %}
                    <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                </select>
                <input type="text" placeholder="Create a Tag" id="newTagInput">
                <button type="button" id="addTagButton">Create</button>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <div class="tool-buttons" style="border: 1px solid #fff; height: 40px; width: 100%; display: flex; flex-direction: row; background-color: #9c9c9c; position: relative;">
                    <a href="#" class="bold-btn" style="font-weight: bold; color: black; position: absolute; top: 20%; left: 2%;">B</a>
                    <a href="#" class="italic-btn" style="font-style: italic; color: black; position: absolute; top: 20%; left: 4.3%;">i</a>
                    <a href="#" class="underline-btn" style="text-decoration: underline; color: black; position: absolute; top: 20%; left: 6%;">U</a>
                    <a href="#" class="font-family-btn" style="color: black; position: absolute; top: 20%; left: 8%;">🅰</a>
                    <a href="#" class="font-size-btn" style="color: black; position: absolute; top: 20%; left: 10%;">💤</a>
                    <a href="#" class="color-btn" style="color: black; position: absolute; top: 20%; left: 12%;">🎨</a>
                </div>
                <textarea class="form-control" name="content" id="content" rows="15" style="font-family: bada_font;">{{ form.content.data or '' }}</textarea>
            </div>
            <a href="#" class="btn btn-secondary">코드 입력</a>
            <button id="submitBtn" type="submit" class="btn btn-primary">저장하기</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var tagSelect = document.getElementById('tag');
        var newTagInput = document.getElementById('newTagInput');
        var addTagButton = document.getElementById('addTagButton');

        addTagButton.addEventListener("click", function() {
            var newTagValue = newTagInput.value.trim();
            if (newTagValue !== "") {
                // 중복 체크
                var isDuplicate = Array.from(tagSelect.options).some(function(option) {
                    return option.value.toLowerCase() === newTagValue.toLowerCase();
                });
                if (!isDuplicate) {
                    var newOption = document.createElement("option");
                    newOption.value = newTagValue;
                    newOption.textContent = newTagValue;
                    tagSelect.appendChild(newOption);
                    newTagInput.value = "";
                } else {
                    alert("중복된 태그입니다.");
                }
            }
        });
    });
</script>


{% endblock %}




















