{% extends 'base.html' %}
{% block content %}

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth', // 월별 뷰
        events: [
          {% for schedule in schedule_data %}
          {
            id: '{{ schedule.id }}',
            title: '{{ schedule.title }}',
            start: '{{ schedule.start_date }}',
            end: '{{ schedule.end_date }}',
            content: '{{ schedule.content|default("") }}' // schedule의 content 추가
          },
          {% endfor %}
        ],
        eventClick: function(info) {
          // 이벤트 클릭 시 모달을 열도록 처리
          var modalContent = '<p><strong>' + info.event.title + '</strong></p>' +
            '<p>시작 시간: ' + info.event.start.toLocaleDateString() + '</p>' +
            '<p>종료 시간: ' + info.event.end.toLocaleDateString() + '</p>';

          // info.event.id 값을 가져와서 모달 버튼에 전달
          var scheduleId = info.event.id;

          // 모달 버튼의 href 속성을 업데이트
          var modalButton = document.getElementById('modify-button'); // 모달 버튼의 ID를 지정해야 합니다.
          modalButton.href = "/calendar/modify/" + scheduleId; // URL 경로를 직접 구성

          // content가 존재하는 경우 모달에 추가
          if (info.event.extendedProps.content) {
            modalContent += '<p>내용: ' + info.event.extendedProps.content + '</p>';
          }

          $('#eventModal .modal-body').html(modalContent);

          $('#eventModal').modal();
        }
      });

      calendar.render(); // 달력 렌더링
    });
  </script>

  <style>
    .fc-event-time {
    display: none; /* 이벤트 시간 숨기기 */
    }

    .fc-event {
      font-family: monospace;
      background-color: #caf0b9;
    }

    .fc-event:hover {
      cursor: pointer;
    }

    .fc-event-title {
      color: black;
    }

    .fc-daygrid-day-number {
      color: black;
      font-family: monospace;
    }

    .fc-col-header-cell-cushion {
      color: #a1a1a1;
      font-family: monospace;
    }

    .fc-col-header-cell-cushion:hover {
      text-decoration: none;
      cursor: pointer;
    }

  </style>
</head>

<body>
<div class="col-4" style="margin-top:20px; justify-content: center;">
  <h3 style="color: white;">List For Today</h3>
  <table class="table">
    <thead>
    <tr class="text-center thead-dark">
        <th style="width: 20%;">일정</th>
        <th style="width: 60%;">설명</th>
        <th>남은 기간</th>
    </tr>
    </thead>
    <tbody>
    {% for schedule in today_schedule_list %}
    <tr style="font-family: monospace;">
        <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 50px;">{{ schedule.title }}</td>
        <td style="white-space: nowrap; max-width: 100px; overflow: hidden; text-overflow: ellipsis;">{{ schedule.content }}</td>
        <td>D-{{ (schedule.end_date.date() - today_date).days }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="col-5">
  <div id="calendar" style="margin: 10px; color: white;"></div>
  <div class="row">
    <a href="{{ url_for('calendar.create') }}" class="btn btn-light m-3" style="box-shadow:0.2px 1px 1px 2px #636363;">일정 추가하기</a>
  </div>
</div>
</body>
<!-- 모달 -->
<div class="modal" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">이벤트 상세 정보</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="닫기">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- 이벤트 정보를 여기에 출력 -->
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-warning" id="modify-button">수정하기</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
