{% extends 'base.html' %}
{% block content %}
<head>
    <style>
        .form-group {
            padding: 5px;
        }

        #back-button {
            font-size: 30px;
        }

        #back-button, h3 {
            display: inline;
            vertical-align: middle;
        }
        #back-button:hover {
            text-decoration: None;
            color: red;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var backButton = document.getElementById('back-button');
            backButton.addEventListener("click", function() {
                window.history.back();
            });
        });
    </script>
</head>
<div class="col-md-10">
    <div class="col-md-3">
        <div class="row-2">
            <a href="#" id="back-button">◀</a>
        {% if usage == 'create' %}
            <h3 style="color: white;">일정 추가하기</h3>
        {% endif %}
        {% if usage == 'modify' %}
            <h3>일정 수정하기</h3>
        {% endif %}
        </div>
    </div>
    <div class="col-md-7">
        <form method="post" class="post-form" style="border: 1px solid #000; padding: 10px;">
            {{ form.csrf_token }}
            <label for="title" style="color: white;">일정</label>
            <div class="form-group">
                <input type="text" name="title" id="title" value="{{ form.title.data or '' }}">
            </div>
            <label for="content" style="color: white;">설명</label>
            <div class="form-group">
                <textarea name="content" id="content">{{ form.content.data or '' }}</textarea>
            </div>
            <label for="start_date" style="color: white;">시작 날짜</label>
            <div class="form-group">
                <input type="date" name="start_date" id="start_date" value="{{ form.start_date.data or '' }}">
            </div>
            <label for="end_date" style="color: white;">종료 날짜</label>
            <div class="form-group">
                <input type="date" name="end_date" id="end_date" value="{{ form.end_date.data or '' }}">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-warning" value="일정 추가">
            </div>
        </form>
    </div>
</div>
{% endblock %}